<a href="https://colab.research.google.com/github/GuilhermePelegrina/Mackenzie/blob/main/Aulas/2s2024/TIC/Aula_07_Floresta_Aleatoria_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://raw.githubusercontent.com/guilhermepelegrina/Mackenzie/main/logo_mackenzie.png'>

# **Atividade Prática - Floresta Aleatória**

Para esta atividade prática sobre Floresta Aleatória, usaremos a base de dados chamada [Default of credit card clients](https://archive.ics.uci.edu/dataset/350/default+of+credit+card+clients). Essa base de dados descreve um conjunto de milhares de clientes de um banco em Taiwan que pagaram (adimplentes, classe 0) ou não (inadimplentes, classe 1) créditos bancários. Para cada cliente, temos 23 atributos, sendo eles:

- *LIMIT_BAL*: Montante do crédito oferecido,
- *SEX*: Homem ou mulher.
- *EDUCATION*: Nível de escolaridade (*graduate school*, *university*, *high school* ou *others*),
- *MARRIAGE*: Estado civil (*married*, *single* ou *others*),
- *AGE*: Idade (*less than 35* ou *at least 35*),
- *PAY*: Status do pagamento do crédito (seis atributos, indicando o status desde o mês de Abril até Setembro),
- *BILL_AMT*: Valor da fatura (seis atributos, indicando o valor desde o mês de Abril até Setembro),
- *PAY_AMT*: quantia paga (seis atributos, indicando a quantia paga desde o mês de Abril até Setembro).

A partir do arquivo original dessa base de dados, realizamos um pré-processamento para melhor representar os atributos. Sendo assim, rode a célula de código a seguir sem fazer alterações.

In [ ]:
# Leitura dos dados e pré-processamento
# Ao final, já temos os dados de entrada X e de saída y
import pandas as pd
import numpy as np
np.random.seed(0)

cred = pd.read_csv("https://raw.githubusercontent.com/guilhermepelegrina/Mackenzie/main/Datasets/data_tcred.csv")
X = cred.iloc[:, 1:]
X = X[X.EDUCATION != 0]
X = X[X.EDUCATION != 4]
X = X[X.EDUCATION != 5]
X = X[X.EDUCATION != 6]
X = X[X.MARRIAGE != 0]
X = X[X.MARRIAGE != 3]
sex1, sex2 = X.SEX==1, X.SEX==2
X['SEX'] = np.select([sex1, sex2], ['male', 'female'], default=None)
educ1, educ2, educ3, educ4 = X.EDUCATION==1, X.EDUCATION==2, X.EDUCATION==3, X.EDUCATION==4
X['EDUCATION'] = np.select([educ1, educ2, educ3, educ4], ['graduate school', 'university', 'high school', 'others'], default=None)
marr1, marr2, marr3 = X.MARRIAGE==1, X.MARRIAGE==2, X.MARRIAGE==3
X['MARRIAGE'] = np.select([marr1, marr2, marr3], ['married', 'single', 'others'], default=None)
age1, age2 = X.AGE<35, X.AGE>=35
X['AGE'] = np.select([age1, age2], ['<35', '>=35'], default=None)
y =  X.loc[:,'default'].astype(float)
X = X.drop('default',axis=1)

In [ ]:
# Visualizando os dados
X.head()

Agora, responda as questões no Moodle (Atividades Práticas - KNN).

**Lembre-se:** Importe os pacotes que serão utilizados nessa atividade!